NEXT_PUBLIC_SANITY_PROJECT_ID=lwvgcasl
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-12-03

# Optional: grant read access to ISR or preview endpoints
SANITY_API_READ_TOKEN=

# Optional: reuse for /api/revalidate webhook secret
SANITY_REVALIDATE_SECRET=

